<div class="chatroom">
  <div class="onlineUser">
    <div class="title twoitem">
      <span class="text">訊息</span>
      <a><i class="newMsg" id="findNewPriChat"></i></a>
    </div>
    <div class="users" id="onlineUser">


      {{!-- 這裡使用each 刷每個訊息 --}}
      {{!-- <div class="usercard">
        <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png">
        <div class="userfile">
          <div class="who">
            <div class="nameplace">
              <span class="name">Apple</span>
              <span class="at-name">@Apple</span>
            </div>
            <div class="lastcall">
              5秒前
            </div>
          </div>
          <div class="whoMessage">
            <span
              class="message ellipsis">這是!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!</span>
          </div>
        </div>
      </div> --}}
      {{!-- each 結束 --}}

    </div>
  </div>

  <div class="onlineChatroom">
    <div class="title">

      {{!-- 對應的私人對話使用者 --}}
      <div class="who">
        <span class="name" id="who-name">Elephant</span>
        <span class="at-name" id="who-at-name">@Elephant</span>
      </div>
      {{!-- end for futrue --}}

    </div>

    <div class="stream-message">

      {{!-- 自己的訊息 --}}
      <div class="self-message">
        <span
          class="content">這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言</span>
        <span class="time">下午6:01</span>
      </div>

      <div class="noti-message unread">
        <span class="content unread">未讀訊息</span>
      </div>

      {{!-- 別人的訊息 --}}
      <div class="other-message">
        <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png">
        <div class="content">
          <span
            class="content">這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言</span>
          <span class="time">下午6:01</span>
        </div>
      </div>

    </div>

    {{!-- 輸入欄位 --}}
    <div class="onlineSendbox">
      <textarea name="message" rows="1" placeholder="輸入訊息" autofocus required maxlength="500"
        id="textareaAutogrow"></textarea>
      <button type="submit"><i class="send" id="send" data-loginuserid="{{loginUser.id}}"></i></button>
    </div>

  </div>

</div>