<div class="header">通知</div>
<div class="notis" id="notis">

  {{!-- <a href="/tweets/ID" class="noti">
    <div class="noti-title">
      <img class="thumbnail" src="AVATAR" alt="NAME avatar">

      <div class="noti-msg">
        NAME 有新的推文通知
      </div>
    </div>

    <div class="content">
      TWEET DESCRIPTION
    </div>
  </a> --}}

  {{!-- <a href="/users/ID/tweets" class="noti">
    <div class="noti-title">
      <img class="thumbnail" src="AVATAR" alt="NAME avatar">

      <div class="noti-msg">
        NAME開始追蹤你
      </div>
    </div>
  </a> --}}

  {{!-- <a href="/tweet/" class="noti">
    <div class="noti-title">
      <img class="thumbnail" src="AVATAR" alt="NAME avatar">

      <div class="noti-msg">
        NAME有新的推文通知
      </div>
    </div>

    <div class="content">
      TWEET
    </div>
  </a> --}}

  {{!-- <a href="/??" class="noti">
    <div class="noti-title">
      <img class="thumbnail" src="AVATAR" alt="NAME avatar">

      <div class="noti-msg">
        NAME喜歡妳的貼文
      </div>
    </div>
  </a> --}}

</div>
<script defer src="/javascripts/notis.js"></script>
