<div class="chatroom">
  <div class="onlineUser">
    <div class="title">
      上線使用者 (<span class="onlineUserCount">5</span>)
    </div>
    <div class="users">


      {{!-- 這裡使用each 刷每個在線使用者 --}}
      <div class="usercard">
        <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png">
        <div class="userfile">
          <div class="who">
            <div class="nameplace">
              <span class="name">Apple</span>
              <span class="at-name">@Apple</span>
            </div>
            <div class="lastcall">
              {{!-- 不須時間 則留空白div內容 --}}
              5秒前
            </div>
          </div>
          {{!-- whoMessage 後續Prive chatroom 使用的 先切版--}}
          <div class="whoMessage">
            <span
              class="message ellipsis">這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!</span>
          </div>
        </div>
      </div>
      {{!-- each 結束 下面是排版用 --}}

      <div class="usercard">
        <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png">
        <div class="userfile">
          <div class="who">
            <div class="nameplace">
              <span class="name">Banana</span>
              <span class="at-name">@Banana</span>
            </div>
            <div class="lastcall">
              5月20日
            </div>
          </div>
          {{!-- whoMessage 後續Prive chatroom 使用的 先切版--}}
          <div class="whoMessage">
            <span
              class="message ellipsis">這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!</span>
          </div>
        </div>
      </div>

      <div class="usercard">
        <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png">
        <div class="userfile">
          <div class="who">
            <div class="nameplace">
              <span class="name">Chery</span>
              <span class="at-name">@Chery</span>
            </div>
            <div class="lastcall">
              1小時前
            </div>
          </div>
          {{!-- whoMessage 後續Prive chatroom 使用的 先切版--}}
          <div class="whoMessage">
            <span
              class="message ellipsis">這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!</span>
          </div>
        </div>
      </div>

      <div class="usercard">
        <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png">
        <div class="userfile">
          <div class="who">
            <div class="nameplace">
              <span class="name">Dan Lin</span>
              <span class="at-name">@Dan Lin</span>
            </div>
            <div class="lastcall">
              10月10日
            </div>
          </div>
          {{!-- whoMessage 後續Prive chatroom 使用的 先切版--}}
          <div class="whoMessage">
            <span
              class="message ellipsis">這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!</span>
          </div>
        </div>
      </div>

      <div class="usercard">
        <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png">
        <div class="userfile">
          <div class="who">
            <div class="nameplace">
              <span class="name">Elephant</span>
              <span class="at-name">@Elephant</span>
            </div>
            <div class="lastcall">
              99999天前
            </div>
          </div>
          {{!-- whoMessage 後續Prive chatroom 使用的 先切版--}}
          <div class="whoMessage">
            <div class="message ellipsis">
              這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!這是用來測試切版的一短很長的訊息!</span>
            </div>
          </div>
        </div>
        {{!-- 排版用結束 之後請刪除 --}}

      </div>
    </div>
  </div>

  <div class="onlineChatroom">
    <div class="title">
      公開聊天室

      {{!-- for future --}}
      {{!-- <div class="who">
        <span class="name">Elephant</span>
        <span class="at-name">@Elephant</span>
      </div> --}}
      {{!-- end for futrue --}}

    </div>

    <div class="stream-message">

      <div class="self-message">
        <span
          class="content">這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言這是我自己留言</span>
        <span class="time">下午6:01</span>
      </div>

      <div class="other-message">
        <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png">
        <div class="content">
          <span
            class="content">這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言這是路人甲留言</span>
          <span class="time">下午6:01</span>
        </div>

      </div>

    </div>




  </div>

  <div class="onlineSendbox">
    <textarea name="message" cols="30" rows="10"></textarea>
    <button type="submit"><i class="send"></i></button>
  </div>
</div>