<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Andrew / Jason Luo / 中意">
  <meta name="description" content="AlphaCamp 全端開發結業作品，使用 Node.js 及 express framework 展示簡易 Twitter 功能">
  <meta name="robots" content="all">
  <link rel="icon" type="image/svg" href="/icons/logo.svg">
  <title>Alphitter</title>
  <link rel="stylesheet" href="/stylesheets/icon.css">
  <link rel="stylesheet" href="/stylesheets/layout.css">
</head>

<body>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
    integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
  {{{body}}}

  {{#if successMessage}}
  <div class="flash">
    <span class="text">{{successMessage}}</span>
    <i class="success"></i>
  </div>
  <script type="text/javascript">
    setTimeout(() => { document.querySelector('.flash').classList.add('cb'); setTimeout(() => { document.querySelector('.flash').classList.remove('cb') }, 2800) }, 500);
  </script>
  {{/if}}

  {{#if errorMessage}}
  <div class="flash">
    <span class="text">{{errorMessage}}</span>
    <i class="warning"></i>
  </div>
  <script type="text/javascript">
    setTimeout(() => { document.querySelector('.flash').classList.add('cb'); setTimeout(() => { document.querySelector('.flash').classList.remove('cb') }, 2800) }, 500);
  </script>
  {{/if}}

  {{#if errors.length}}
  <div class="flash">
    <div>
      {{#each errors}}
      <div class="text">{{this.message}}</div>
      {{/each}}
    </div>
    <i class="warning"></i>
  </div>
  <script type="text/javascript">
    setTimeout(() => { document.querySelector('.flash').classList.add('cb'); setTimeout(() => { document.querySelector('.flash').classList.remove('cb') }, 2800) }, 500);
  </script>
  {{/if}}

  
  <script defer src="/javascripts/layout.js"></script>

</body>

</html>