/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a,
button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover,
button:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* flash message */
.flash {
  position: absolute;
  top: -96px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 394px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.4);
}

.cb {
  top: 20%;
}

.flash .text {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:invalid {
  color: #fc5a5a;
  font-size: 15px;
  line-height: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* layout grid */
html,
body {
  position: relative;
  font-size: 14px;
  min-width: 1245px;
  min-height: 520px;
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
}

.user-template {
  display: grid;
  grid-template-columns: 1fr 235px 30px 600px 30px 350px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: 'l left-side i main j right-side k';
  width: 100%;
  height: 100%;
}
.user-template-setting {
  display: grid;
  grid-template-columns: 1fr 235px 30px 980px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: 'i left-side j main k';
  width: 100%;
  height: 100%;
}

.sign-template {
  display: grid;
  grid-template-columns: 1fr 540px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: 'i main j';
  width: 100%;
  height: 100%;
}

.admin-template {
  display: grid;
  grid-template-columns: 1fr 235px 40px minmax(642px, 1062px);
  grid-template-rows: 100%;
  grid-template-areas: 'i left-side j main ';
  width: 100%;
  height: 100%;
}

.left-side,
.main,
.right-side,
.sign-main,
.admin-main > :nth-child(2) {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

/* user-template left side */
.left-side {
  display: flex;
  flex-flow: column nowrap;
  grid-area: left-side;
  justify-content: space-between;
}

.left-side > .navigation > i {
  margin-left: 10px;
  margin-top: 14px;
  margin-bottom: 45px;
}

.left-side > .navigation > a:nth-child(n) {
  margin-left: 10px;
}

.left-side > .navigation > a:nth-child(n) > i {
  margin-right: 20px;
}

.left-side > .navigation > a:nth-child(2),
.left-side > .navigation > a:nth-child(3),
.left-side > .navigation > a:nth-child(4),
.left-side > .navigation > a:nth-child(5),
.left-side > .navigation > a:nth-child(6) {
  margin-bottom: 35px;
}

.left-side > .navigation > a:nth-child(7) {
  margin-bottom: 25px;
}

.left-side > .navigation > a,
.footer > a {
  color: #1c1c1c;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
}

.left-side > .navigation > a.active {
  color: #f60;
}

.left-side > .navigation > button.btn-fill {
  width: 210px;
  height: 38px;
}

.left-side > .footer > a {
  margin-bottom: 17px;
}

.left-side > .footer > a > i {
  margin-left: 10px;
  margin-right: 20px;
}

/* user-template center content for tweets */
.main {
  grid-area: main;
  border: 1px solid #e6ecf0;
}

.main > .header {
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #e6ecf0;
  font-size: 18px;
  font-weight: 700;
  line-height: 55px;
  padding-left: 15px;
}

.main > .post-area {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 120px;
}

.main > .post-area > a > .thumbnail {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
}

.main > .post-area > form {
  display: flex;
  flex-flow: column wrap;
}

.main > .post-area > form > textarea {
  border: none;
  resize: none;
  margin-right: 15px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.main > .post-area > form > .foot {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
}

.main > .post-area > form > .foot > span {
  color: #fc5a5a;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  margin: auto 20px auto 0;
}

.main > .post-area > form > .foot > button {
  width: 66px;
  height: 38px;
  margin-right: 15px;
  margin-top: 2px;
}

.main > hr {
  width: 100%;
  height: 10px;
  background-color: #e6ecf0;
  border: none;
}

.main > .tweets > .tweet {
  width: 100%;
  height: 136px;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #e6ecf0;
  margin-top: 10px;
}

.main > .tweets > .tweet.profileTweet {
  height: 121px;
}

.main > .tweets > .tweet > a {
  margin-top: 3px;
  display: inline;
}

.main > .tweets > .tweet > div:first-child {
  margin-top: 3px;
  display: inline;
}

.main > .tweets > .tweet > .post-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.main > .tweets > .tweet > .post-content > .post-user {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 6px;
  line-height: 22px;
}

.main > .tweets > .tweet > .post-content > .post-user > span {
  font-size: 15px;
  line-height: 22px;
  max-width: 140px;
}

.main > .tweets > .tweet > .post-content > .post-user > .name {
  color: #1c1c1c;
  font-weight: 700;
  margin-right: 5px;
}

.main > .tweets > .tweet > .post-content > .post-user > .at-name,
.main > .tweets > .tweet > .post-content > .post-user > .timer {
  color: #657786;
  font-weight: 500;
}

.main > .tweets > .tweet > .post-content > .post-user > .timer::before {
  content: '•';
  margin-left: 3px;
  margin-right: 3px;
}

.main > .tweets > .tweet > .post-content > .content {
  color: #1c1c1c;
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
  width: 510px;
  height: 66px;
  text-align: left;
  padding: 0;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: auto;
}

.main > .tweets > .tweet > .post-content > .action {
  display: flex;
  flex-flow: row wrap;
  font-size: 13px;
  font-weight: 500;
  height: 40px;
  color: #657786;
}
.main > .tweets > .tweet > .post-content > .action button i {
  margin: -3px 0;
}

.main > .tweets > .tweet > .post-content > .action button .lg {
  margin: -7px 0;
}

.main > .tweets > .tweet > .post-content > .action > .commenting,
.main > .tweets > .tweet > .post-content > .action .liking {
  width: 90px;
  line-height: 40px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  justify-self: center;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.main > .tweets > .tweet > .post-content > .action > .commenting i,
.main > .tweets > .tweet > .post-content > .action .liking i {
  margin-right: 4px;
}

.main > .tweets > .tweet > .post-content > .reply-to {
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  margin-top: -1px;
}

.main > .tweets > .tweet > .post-content > .reply-to .at-name {
  color: #f60;
}

.main > .tweets > .tweet > .post-content > button {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

/* user-template center content for profile (Likes, Replies, Tweets) */
.main > .back-arrow-header {
  height: 55px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.main > .back-arrow-header > a {
  margin: auto 43px auto 19px;
}

.main > .back-arrow-header > .header-text {
  display: flex;
  flex-flow: column wrap;
}

.main > .back-arrow-header > .header-text > .name {
  color: #1c1c1c;
  font-size: 19px;
  font-weight: 900;
  line-height: 28px;
  margin-top: 5px;
}

.main > .back-arrow-header > .header-text > .post-count {
  color: #567786;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.main > .banner {
  position: relative;
}

.main > .banner > .cover {
  width: 598px;
  height: 200px;
  object-fit: cover;
}

.main > .banner > .avatar {
  width: 140px;
  height: 140px;
  border: 4px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 124px;
  left: 14px;
  object-fit: cover;
}

.main > .banner > .buttons {
  display: flex;
  height: 69px;
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.main > .banner > .buttons > a {
  margin-top: 10px;
  margin-right: 10px;
}

.main > .banner > .buttons button {
  margin-right: 15px;
  height: 35px;
  margin-top: 10px;
  font-weight: 700 !important;
  padding-left: 14px;
  padding-right: 14px;
}

.main > .information {
  width: 100%;
  height: 126px;
  padding-left: 15px;
}

.main > .information > .name {
  color: #1c1c1c;
  font-size: 19px;
  font-weight: 900;
  line-height: 28px;
  display: block;
}

.main > .information > .at-name {
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  display: block;
  margin-bottom: 10px;
}

.main > .information > .introduction {
  color: #000;
  font-size: 14px;
  font-weight: 400px;
  line-height: 20px;
  display: block;
  margin-bottom: 10px;
}

.main > .information > .followship {
  margin-bottom: 20px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.main > .information > .followship > .following {
  margin-right: 20px;
}

.main > .information > .followship a {
  color: #567786;
  font-weight: 500;
}

.main > .paginator {
  font-size: 15px;
  font-weight: 700;
  line-height: 54px;
  border-bottom: 1px solid #e6ecf0;
}

.main > .paginator > a {
  color: #657786;
  display: inline-block;
  height: 54px;
  width: 130px;
  text-align: center;
}

.main > .paginator > a.active {
  border-bottom: 2px solid #f60;
  color: #f60;
}

/* user-template center content for profile (followship) */
.main > .followship {
  width: 100%;
}

.main > .followship > .follower {
  padding: 10px 15px 10px 0;
  height: 105px;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #e6ecf0;
  position: relative;
}

.main > .followship > .follower > a {
  margin-top: 3px;
}

.main > .followship > .follower > .follower-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.main > .followship > .follower > .follower-info > .follower-user {
  display: flex;
  flex-flow: column nowrap;
}

.main > .followship > .follower > .follower-info > .follower-user > span {
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 5px;
}

.main > .followship > .follower > .follower-info > .follower-user > .name {
  color: #1c1c1c;
  font-weight: 700;
}

.main > .followship > .follower > .follower-info > .follower-user > .at-name {
  color: #657786;
  font-weight: 500;
}

.main > .followship > .follower > .follower-info > .follower-intro {
  color: #1c1c1c;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.main > .followship > .follower button {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 0.1px 15px;
}

/* user-template center content for single tweet page */
.main > .back-arrow-header > .header-text > .tweet {
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 700;
  line-height: 55px;
}

.main > .tweet {
  height: 400px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #e6ecf0;
  border-right: 0px;
  border-left: 0px;
}

.main > .tweet > .tweet-user {
  display: flex;
  flex-flow: row wrap;
  margin: 15px 0;
}

.main > .tweet > .tweet-user > span:nth-child(2) {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.main > .tweet > .tweet-user > span:nth-child(2) > .name {
  color: #1c1c1c;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
}

.main > .tweet > .tweet-user > span:nth-child(2) > .at-name {
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.main > .tweet > .tweet-content {
  height: 100%;
  width: 570px;
  margin: auto;
}

.main > .tweet > .tweet-content > .content {
  width: 100%;
  height: 136px;
  color: #1c1c1c;
  font-size: 23px;
  font-weight: 500;
  line-height: 34px;
  text-align: left;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.main > .tweet > .tweet-content > .datetime {
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  padding: 14px 0;
  border-bottom: 1px solid #e6ecf0;
}

.main > .tweet > .tweet-content > .datetime > .time::after {
  content: '•';
  margin-left: 6px;
  margin-right: 3px;
}

.main > .tweet > .tweet-content > .stat {
  color: #000;
  font-size: 19px;
  font-weight: 700px;
  line-height: 28px;
  padding: 20px 0;
  border-bottom: 1px solid #e6ecf0;
}

.main > .tweet > .tweet-content > .stat a {
  color: #567786;
  font-weight: 500;
}

.main > .tweet > .tweet-content > .stat > span:first-child {
  margin-right: 20px;
}

.main > .tweet > .tweet-content > .action {
  height: 57px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.main > .tweet > .tweet-content > .action button:first-child {
  margin-right: 146px;
}

.main > .replies > .reply {
  width: 100%;
  height: 105px;
  border-bottom: 1px solid #e6ecf0;
  display: flex;
  flex-flow: row nowrap;
}

.main > .replies > .reply > a {
  margin-top: 18px;
}

.main > .replies > .reply > .comment {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.main > .replies > .reply > .comment > .comment-user > span {
  max-width: 170px;
  font-size: 15px;
  line-height: 22px;
}

.main > .replies > .reply > .comment > .comment-user > .name {
  color: #1c1c1c;
  font-weight: 700;
}

.main > .replies > .reply > .comment > .comment-user > .at-name,
.main > .replies > .reply > .comment > .comment-user > .timer {
  color: #657786;
  font-weight: 500;
}

.main > .replies > .reply > .comment > .comment-user > .timer::before {
  content: '•';
  margin-left: 3px;
  margin-right: 3px;
}

.main > .replies > .reply > .comment > .reply-to {
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.main > .replies > .reply > .comment > .reply-to > .at-name {
  color: #f60;
}

.main > .replies > .reply > .comment > .comment-comment {
  color: #1c1c1c;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  max-height: 44px;
  width: 510px;
  padding-right: 10px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

/* user-template-setting main for setting page */
.user-template-setting > .main > form {
  width: 70%;
  padding: 30px 16px 0;
}

.user-template-setting > .main > form > button {
  align-self: flex-end;
  width: 116px;
}

/* user-template main for profile notis page */
.main > .notis {
  height: calc(100vh - 55px);
  width: 598px;
  padding: 15px;
}

.main > .notis > .noti {
  display: block;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  border-bottom: 1px solid #e6ecf0;
  margin-top: 10px;
}

.main > .notis > .noti > .noti-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: #1c1c1c;
  margin-bottom: 5px;
}

.main > .notis > .noti > .noti-title > img {
  width: 30px;
  height: 30px;
}

.main > .notis > .noti > .content {
  color: #657786;
  padding: 0 0 5px 15px;
}

/* user-template right side */
.right-side {
  grid-area: right-side;
}

.right-side > .more-btn > .more {
  display: block;
  margin: auto;
  width: 50%;
  height: 35px;
}

.right-side > .popular {
  width: 100%;
  border-radius: 14px;
  background-color: #f5f8fa;
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  margin-top: 15px;
  margin-bottom: 15px;
}

.right-side > .popular > span {
  display: block;
  height: 45px;
  width: 100%;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 700;
  line-height: 45px;
  padding-left: 15px;
}

.right-side > .popular > .wrap {
  width: 100%;
  height: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-top: 1px solid #e6ecf0;
}

.right-side > .popular > .wrap > a,
.right-side > .popular > .wrap > form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.right-side > .popular > .wrap > a > span {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  width: 155px;
}

.right-side > .popular > .wrap > a > span .name {
  width: 100%;
  color: #1c1c1c;
  margin-bottom: 3px;
}

.right-side > .popular > .wrap > a > span .at-name {
  width: 100%;
  color: #657786;
}

.right-side > .popular > .wrap > form > .btn-fill {
  display: inline-block;
  width: 90px;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  margin: auto 15px;
}

.right-side > .popular > .wrap > form > .btn-outline {
  display: inline-block;
  width: 60px;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  margin: auto 15px auto 0;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
}

.modal > .mask {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal > .mask > .dialog {
  background-color: #fff;
  width: 600px;
  min-height: 300px;
  margin: 54px auto 0;
  border-radius: 14px;
}

.modal > .mask > .dialog.sm {
  width: 394px;
  height: 130px;
  min-height: 130px;
  padding: 10px;
}

.modal > .mask > .dialog.find-chat {
  height: 60%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal > .mask > .dialog > .warning-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  color: #1c1c1c;
}

.modal > .mask > .dialog > .buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-top: 15px;
}

.modal > .mask > .dialog > .buttons button {
  width: 90px;
  height: 35px;
}

.modal > .mask > .dialog > .dialog-header > a {
  display: inline-block;
  padding: 9.5px;
  margin: 10px 10px 7.8px;
}

.modal > .mask > .dialog > .post-area,
.modal > .mask > .dialog > .reply-area {
  width: 100%;
  border-top: 1px solid #e6ecf0;
  display: flex;
  flex-flow: row wrap;
}

.modal > .mask > .dialog > .post-area > a,
.modal > .mask > .dialog > .reply-area > a {
  display: inline-block;
  margin-top: 15px;
}

.modal > .mask > .dialog > .post-area > form,
.modal > .mask > .dialog > form {
  display: flex;
  flex-flow: column wrap;
}

.modal > .mask > .dialog > .post-area > form > textarea,
.modal > .mask > .dialog > form > textarea {
  display: inline-block;
  width: 510px;
  border: none;
  resize: none;
  margin-top: 27px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal > .mask > .dialog > .post-area > form > .foot {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
}

.modal > .mask > .dialog > .post-area > form > .foot > span {
  color: #fc5a5a;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
}

.modal > .mask > .dialog > .post-area > form button {
  width: 66px;
  margin-right: 15px;
  margin-bottom: 15px;
  align-self: flex-end;
}

/* modal for replying reply-area*/
.modal > .mask > .dialog > .reply-area > .tweet {
  width: 100%;
  height: 136px;
  display: flex;
  flex-flow: row wrap;
  margin-top: 18px;
}

.modal > .mask > .dialog > .reply-area > .tweet > a {
  display: inline;
  margin-bottom: 5px;
  position: relative;
}

.modal > .mask > .dialog > .reply-area > .tweet > a::after {
  content: '';
  position: absolute;
  top: 55px;
  left: 39px;
  width: 2px;
  height: 80px;
  background: #ccd6dd;
}

.modal > .mask > .dialog > .reply-area > .tweet > .tweet-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.modal > .mask > .dialog > .reply-area > .tweet > .tweet-content > .tweet-user {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 5px;
  line-height: 22px;
}

.modal
  > .mask
  > .dialog
  > .reply-area
  > .tweet
  > .tweet-content
  > .tweet-user
  > span {
  font-size: 15px;
  line-height: 22px;
  max-width: 140px;
}

.modal
  > .mask
  > .dialog
  > .reply-area
  > .tweet
  > .tweet-content
  > .tweet-user
  > .name {
  color: #1c1c1c;
  font-weight: 700;
  margin-right: 5px;
}

.modal
  > .mask
  > .dialog
  > .reply-area
  > .tweet
  > .tweet-content
  > .tweet-user
  > .at-name,
.modal
  > .mask
  > .dialog
  > .reply-area
  > .tweet
  > .tweet-content
  > .tweet-user
  > .timer {
  color: #657786;
  font-weight: 500;
}

.modal
  > .mask
  > .dialog
  > .reply-area
  > .tweet
  > .tweet-content
  > .tweet-user
  > .timer::before {
  content: '•';
  margin-left: 3px;
  margin-right: 3px;
}

.modal
  > .mask
  > .dialog
  > .reply-area
  > .tweet
  > .tweet-content
  > .tweet-description {
  color: #1c1c1c;
  width: 510px;
  height: 66px;
  text-align: start;
  padding: 0;
  font-size: 15px;
}

.modal > .mask > .dialog > .reply-area > .tweet > .tweet-content > .reply-to {
  margin-top: 19px;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  color: #657786;
}

.modal
  > .mask
  > .dialog
  > .reply-area
  > .tweet
  > .tweet-content
  > .reply-to
  > .at-name {
  color: #f60;
}

/* modal for editing modal*/
#modalEdit > .mask > .dialog {
  height: 657px;
}

.modal > .mask > .dialog > .dialog-header {
  width: 100%;
  height: 58px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: 1px solid #e6ecf0;
}

.modal > .mask > .dialog > .dialog-header > span {
  color: #1c1c1c;
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
  margin-left: 20px;
}

.modal > .mask > .dialog > form {
  position: relative;
  padding-bottom: 30px;
}

.modal > .mask > .dialog > form > button {
  position: absolute;
  top: -44px;
  right: 15px;
}

.modal > .mask > .dialog > form > .edit-cover {
  width: 598px;
  height: 260px;
  position: relative;
  margin: 0 auto;
}

.modal > .mask > .dialog > form > .edit-cover > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.modal > .mask > .dialog > form > .edit-cover > a:nth-child(3) {
  position: absolute;
  top: 90px;
  left: 262px;
}

.modal > .mask > .dialog > form > .edit-cover > a:last-child {
  position: absolute;
  top: 92.5px;
  right: 265.5px;
}

.modal > .mask > .dialog > form > .edit-avatar {
  position: relative;
  margin-top: -120px;
  width: 100%;
}

.modal > .mask > .dialog > form > .edit-avatar > img {
  width: 120px;
  height: 120px;
  border: 4px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 15px;
  object-fit: cover;
}

.modal > .mask > .dialog > form > .edit-avatar > a:last-child {
  position: absolute;
  top: 50px;
  left: 65px;
}

.modal > .mask > .dialog > form > .edit-text {
  width: 570px;
  margin: 0 15px;
}

.modal > .mask > .dialog > form > .edit-text.for-name {
  position: absolute;
  top: 280px;
  left: 0;
}

.modal > .mask > .dialog > form > .edit-text.for-intro {
  position: absolute;
  top: 376px;
  left: 0;
}

.modal > .mask > .dialog > form > .edit-text > .text-label {
  background-color: #f5f8fa;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  padding: 5px 15px 4px;
}

.modal > .mask > .dialog > form > .edit-text > .edit-form {
  background-color: #f5f8fa;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 1px solid #657786;
  padding: 0 15px 4px;
}

.modal > .mask > .dialog > form > .edit-text > .edit-form > .edit-name {
  height: 25px;
}

.modal > .mask > .dialog > form > .edit-text > .edit-form > .edit-introduction {
  height: 121px;
}

.modal > .mask > .dialog > form > .edit-text > .edit-form :first-child {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
  vertical-align: top;
  color: #000;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
}

.modal > .mask > .dialog > form > .edit-text > .counter {
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: end;
}

/* modal for replying post-area */
#modal-reply > .mask > .dialog > .post-area > a {
  display: inline-block;
  margin-top: 10px;
}

#modal-reply > .mask > .dialog > .post-area > form > textarea {
  height: 169px;
  margin-top: 22px;
}

#modal-reply > .mask > .dialog > .post-area {
  border-top: 0;
}

#modal-reply
  > .mask
  > .dialog
  > .reply-area
  > .tweet
  > .tweet-content
  > .tweet-description {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

/* sign-template main */

.sign-template > .sign-main {
  grid-area: main;
}

.sign-template > .sign-main > .header {
  text-align: center;
}

.sign-template > .sign-main > .header > i {
  margin-top: 65px;
  margin-bottom: 25px;
}

.sign-template > .sign-main > .header > .title {
  color: #1c1c1c;
  font-size: 23px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 40px;
}

.sign-template > .sign-main > form,
.user-template-setting > .main > form {
  display: flex;
  flex-flow: column nowrap;
}

.sign-template > .sign-main > form > .edit-text,
.user-template-setting > .main > form > .edit-text {
  position: relative;
  background-color: #f5f8fa;
  height: 49px;
  border-bottom: 2px solid #657786;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 5px 10px 0;
}

.user-template-setting > .main > form > .edit-text > .at-sign {
  position: absolute;
  top: 26px;
  left: 10px;
  color: #1c1c1c;
  font-size: 19px;
  font-weight: 500;
  line-height: 22px;
}

.sign-template > .sign-main > form > .edit-text > label,
.user-template-setting > .main > form > .edit-text > label {
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  border: none;
}

.sign-template > .sign-main > form > .edit-text > input,
.user-template-setting > .main > form > .edit-text > input {
  color: #1c1c1c;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
  vertical-align: top;
  background-color: transparent;
  border: none;
  width: 100%;
}

.sign-template > .sign-main > form > button,
.user-template-setting > .main > form > button {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 50px;
  height: 46px;
}

.sign-template > .sign-main > form > .buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  margin-bottom: 20px;
}

.sign-template > .sign-main > form > .buttons > span {
  color: #0099ff;
  margin: 0 5px;
  line-height: 26px;
}

.sign-template > .sign-main > form > a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 20px;
}

/* admin-template left-side */
.admin-template > .admin-main {
  display: flex;
  flex-flow: column nowrap;
  grid-area: main;
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
}

/* admin-template main */
.admin-template > .admin-main > .title,
.user-template-setting > .main > .title,
.onlineUser > .title,
.onlineChatroom > .title {
  padding-left: 26.55px;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 700;
  line-height: 54px;
  border-bottom: 1px solid #e6ecf0;
}

/* admin-template main for tweets */
.admin-template > .admin-main > .tweets {
  padding-top: 5px;
}

.admin-template > .admin-main > .tweets > .tweet {
  display: flex;
  flex-flow: row nowrap;
  height: 75px;
  border-bottom: 1px solid #e6ecf0;
  position: relative;
}

.admin-template > .admin-main > .tweets > .tweet > .post-content {
  padding-left: 5px;
}

.admin-template > .admin-main > .tweets > .tweet > .post-content {
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  margin: 10px 0 6px;
}

.admin-template
  > .admin-main
  > .tweets
  > .tweet
  > .post-content
  > .post-user
  > .name {
  color: #1c1c1c;
  font-weight: 700;
  padding-right: 5px;
}

.admin-template
  > .admin-main
  > .tweets
  > .tweet
  > .post-content
  > .post-user
  > .timer::before {
  content: '•';
  margin-left: 3px;
  margin-right: 6px;
}

.admin-template > .admin-main > .tweets > .tweet > .post-content > .content {
  color: #1c1c1c;
}

.admin-template > .admin-main > .tweets > .tweet > .del-btn {
  position: absolute;
  top: 18.5px;
  right: 13.5px;
}

/* admin-template main for users */
.admin-template > .admin-main > .users {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.admin-template > .admin-main > .users > .user-card {
  width: 245px;
  height: 314px;
  margin: 15px 0 0 15px;
}

.admin-template > .admin-main > .users > .user-card > .imgs {
  width: 100%;
  height: 140px;
  position: relative;
}

.admin-template > .admin-main > .users > .user-card > .imgs > .thumbnail-card {
  background-color: #c4c4c4;
  border: 4px solid #fff;
  position: absolute;
  top: 68px;
  left: 72.5px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}

.admin-template > .admin-main > .users > .user-card > .imgs > .img-card {
  background-color: #c4c4c4;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.admin-template > .admin-main > .users > .user-card > .texts {
  color: #1c1c1c;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  background-color: #f6f7f8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: 174px;
  padding-top: 33px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.admin-template > .admin-main > .users > .user-card > .texts > .name {
  font-weight: 900;
  margin-bottom: 2px;
}

.admin-template > .admin-main > .users > .user-card > .texts > .account {
  color: #657786;
  margin-bottom: 15px;
}

.admin-template > .admin-main > .users > .user-card > .texts > .counting,
.admin-template
  > .admin-main
  > .users
  > .user-card
  > .texts
  > .counting
  > span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: #1c1c1c;
}

.admin-template
  > .admin-main
  > .users
  > .user-card
  > .texts
  > .counting
  > span
  > i {
  margin-left: 15px;
  margin-right: 5px;
}

.admin-template > .admin-main > .users > .user-card > .texts > .followship {
  color: #000;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.admin-template
  > .admin-main
  > .users
  > .user-card
  > .texts
  > .followship
  > span
  > span {
  color: #657786;
}

/* modal for find-chat */
#modal-findChatUser .user-card {
  display: inline-block;
  width: 186px;
  height: 220px;
  margin: 10px 0 0 8px;
}

#modal-findChatUser .user-card > .imgs {
  position: relative;
}

#modal-findChatUser .user-card > .imgs > .thumbnail-card {
  background-color: #c4c4c4;
  border: 4px solid #fff;
  position: absolute;
  top: 53px;
  left: 43px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#modal-findChatUser .user-card > .imgs > .img-card {
  background-color: #c4c4c4;
  width: 186px;
  height: 124px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#modal-findChatUser .user-card > .texts {
  color: #1c1c1c;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  background-color: #f6f7f8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: 86px;
  padding-top: 33px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#modal-findChatUser .user-card > .texts > .name {
  font-weight: 900;
  margin-bottom: 2px;
}

#modal-findChatUser .user-card > .texts > .account {
  color: #657786;
  margin-bottom: 15px;
}

/* general style */
*:disabled {
  opacity: 0.2;
}

.d-none {
  display: none !important;
}

.btn-fill {
  color: #fff !important;
  justify-content: center !important;
  background-color: #f60;
  border-radius: 50px;
  font-weight: 500 !important;
  text-align: center;
  font-size: 18px;
}

.btn-fill.sm,
.btn-fill.xs {
  font-size: 15px;
}

.btn-fill.form {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  width: 66px;
}

.btn-text {
  color: #0099ff;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: underline #0099ff;
}

.btn-text:hover {
  text-decoration: underline #0099ff;
}

.btn-outline {
  color: #f60 !important;
  justify-content: center !important;
  background-color: transparent;
  border: 1px solid #f60;
  border-radius: 50px;
  font-weight: 500 !important;
  text-align: center;
  font-size: 18px;
}

.btn-outline.sm,
.btn-outline.xs {
  font-size: 15px;
}

img.thumbnail {
  display: inline-block;
  border-radius: 50%;
  background-color: #c4c4c4;
  height: 50px;
  width: 50px;
  background-size: cover;
  margin: auto 10px auto 15px;
}

.ellipsis {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.focus {
  border-color: #50b5ff !important;
}

div.invalid {
  border-color: #fc5a5a !important;
}

div.invalid::after {
  position: absolute;
  top: 56px;
  left: 0;
  color: #fc5a5a;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  content: attr(err_msg);
}

.onlineChatroom > .screen {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.onlineChatroom > .screen > .join {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  width: 270px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* chatroom */
.chatroom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.onlineUser {
  width: 30%;
  height: 100%;
  border-right: 1px solid #e6ecf0;
  display: flex;
  flex-flow: column nowrap;
}

.onlineUser > .two-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-right: 10px;
}

.onlineUser > .two-item a {
  display: flex;
  align-items: center;
}

.onlineChatroom {
  width: 70%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.onlineUser > .users {
  flex: 1 0 0;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.onlineUser > .users > .user-card {
  width: 90%;
  height: 60px;
  margin: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e6ecf0;
}

.onlineUser > .users > .user-card > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
}

.onlineUser > .users > .user-card > .user-file {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  width: 90%;
  padding-left: 10px;
}

.onlineUser > .users > .user-card > .user-file > .who {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.onlineUser > .users > .user-card > .user-file > .who > .name-place {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  font-size: 15px;
  line-height: 22px;
}

.onlineUser > .users > .user-card > .user-file > .who > .last-call {
  font-size: 15px;
  line-height: 22px;
  word-break: keep-all;
}

.onlineUser > .users > .user-card > .user-file > .who > .name-place > .name,
.onlineChatroom > .title > .who > .name {
  color: #1c1c1c;
  font-weight: 700;
  margin-right: 5px;
  max-width: 40%;
  word-break: keep-all;
}

.onlineUser > .users > .user-card > .user-file > .who > .name-place > .at-name,
.onlineUser > .users > .user-card > .user-file > .who > .last-call {
  color: #657786;
  font-weight: 500;
  flex: 1 0 0;
  word-break: keep-all;
}

.onlineChatroom > .title > .who > .at-name {
  color: #657786;
  font-weight: 500;
  word-break: keep-all;
}

.onlineUser > .users > .user-card > .user-file > .whoMessage {
  width: 100%;
}

.onlineUser > .users > .user-card > .user-file > .whoMessage > .message {
  width: 100%;
  color: #1c1c1c;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.onlineChatroom > .title > .who {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  font-size: 15px;
  line-height: 22px;
  height: 54px;
}

.onlineChatroom > .title > .who > .at-name {
  font-size: 9px;
}

.onlineChatroom > .stream-message {
  flex: 1 0 0;
  padding: 10px;
  color: #1c1c1c;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.onlineChatroom > .stream-message > div {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.onlineChatroom > .stream-message > .noti-message {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #657786;
}

.onlineChatroom > .stream-message > .noti-message.unread {
  width: 80%;
  margin: 0 auto;
}

.onlineChatroom > .stream-message > .noti-message.unread > .unread {
  text-align: center;
  width: 80%;
}

.onlineChatroom > .stream-message > .noti-message > span {
  background-color: #e5e5e5;
  font-weight: 700;
  border-radius: 20px;
  padding: 4px 10px;
}

.onlineChatroom > .stream-message > .self-message > .content,
.onlineChatroom > .stream-message > .other-message > .content {
  max-width: 60%;
}

.onlineChatroom > .stream-message > .self-message {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.onlineChatroom > .stream-message > .self-message > .content {
  border-radius: 25px 25px 0;
  background-color: #f60;
  color: #fff;
  padding: 10px;
}

.onlineChatroom > .stream-message > .other-message {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.onlineChatroom > .stream-message > .other-message > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.onlineChatroom > .stream-message > .other-message > .content {
  margin-left: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.onlineChatroom > .stream-message > .other-message > .content > .content {
  border-radius: 25px 25px 25px 0;
  background-color: #e6ecf0;
  padding: 10px;
}

.onlineChatroom > .stream-message .time {
  color: #657786;
}

.onlineChatroom > .online-sendbox {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-top: 1px solid #e6ecf0;
}

.onlineChatroom > .online-sendbox textarea {
  flex: 1 0 0;
  border: none;
  border-radius: 15px;
  background-color: #e6ecf0;
  resize: none;
  margin-right: 9px;
  min-height: 30px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  padding: 6px 10px;
  vertical-align: middle;
}
